[flake8]
max-line-length = 120
extend-ignore = E501

# Exclude the virtual environment directory
exclude = .venv/

# F405: 'col', 'ParseException', 'OneOrMore', 'LineEnd', 'Empty', 'Group',
# 'Opt', 'Combine', 'Regex', 'List', 'ParserElement' may be undefined
# E731: do not assign a lambda expression, use a def
ignore = F405, E731
